---
layout: default
title: Arts & Exhibitions
permalink: /media/arts_exhibitions/
description: Explore various art forms and exhibitions.
---

<h1>Arts & Exhibitions</h1>
 Here is a collection of arts and exhibitions:

<div class="arts_exhibitions">
    <div class="media-grid">
        {% assign arts_exhibitions = site.medias | where_exp: "item", "item.categories contains 'arts-exhibitions'" | sort: "date" | reverse %}
        
        {% for art in arts_exhibitions %}
            <div class="media-item">
            <a href="{{ art.url }}">
                {% if art.image %}
                <img src="{{ art.image | relative_url }}" alt="{{ art.title }}">
                {% else %}
                <div class="placeholder-image">No Image Available</div>
                {% endif %}
                <h3 class="media-title">{{ art.title }}</h3>
            </a>
            </div>
        {% endfor %}
    </div>
</div>

