<nav class="nav">
  <button class="nav__mobile-toggle" aria-label="Toggle navigation menu">
    <img src="/assets/images/profile-photo.jpg" alt="Menu" class="nav__mobile-icon">
  </button>
  
  <ul class="nav__list">
    {% for item in site.data.navigation %}
      <li class="nav__item{% if item.dropdown %} nav__item--has-dropdown{% endif %}">
        <a href="{{ item.link }}" 
          class="nav__link{% if page.url == item.link or page.url contains item.link %} nav__link--active{% endif %}"
          {% if item.dropdown %}aria-haspopup="true" aria-expanded="false"{% endif %}>
          
          {% if item.is_image %}
            <img src="{{ item.icon }}" alt="{{ item.name }}" class="nav__icon nav__icon--image">
          {% else %}
            <i class="nav__icon nav__icon--font icon-{{ item.icon }}"></i>
          {% endif %}
          
          <span class="nav__text">{{ item.name }}</span>

          {% if item.dropdown %}
            <span class="nav__arrow">▼</span>
          {% endif %}
        </a>

        {% if item.dropdown %}
          <ul class="nav__dropdown">
            {% for subitem in item.dropdown %}
              <li class="nav__dropdown-item{% if subitem.dropdown %} nav__dropdown-item--has-sub{% endif %}">
                <a href="{{ subitem.link }}" 
                  class="nav__dropdown-link{% if page.url == subitem.link %} nav__dropdown-link--active{% endif %}">
                  <span class="nav__dropdown-text">{{ subitem.name }}</span>
                  {% if subitem.dropdown %}
                    <span class="nav__dropdown-arrow">▼</span>
                  {% endif %}
                </a>

                {% if subitem.dropdown %}
                  <ul class="nav__sub-dropdown">
                    {% for thirditem in subitem.dropdown %}
                      <li class="nav__sub-dropdown-item">
                        <a href="{{ thirditem.link }}" 
                          class="nav__sub-dropdown-link{% if page.url == thirditem.link %} nav__sub-dropdown-link--active{% endif %}">
                          <span class="nav__sub-dropdown-text">{{ thirditem.name }}</span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>