---
layout: default
title: Media
permalink: /medias/
---
<h1>Latest Media</h1>

<ul>
  {% assign all_medias = site.medias %}
  {% if all_medias and all_medias.size > 0 %}
    {% for item in all_medias %}
      <li>
        <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
          {% if item.featured_image %}
          <img src="{{ item.featured_image | relative_url }}"
              alt="{{ item.title }}" loading="lazy" width="200" height="150">
          {% endif %}
        
        
      </li>
    {% endfor %}
  {% else %}
    <li>No media items found.</li>
  {% endif %}
</ul>
